body {
    font-family: 'Verdana', sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('gg1.jpg');
    color: #fcfcfc;
}

h2 {
    font-size: 3em;
    margin-bottom: 10px;
}

p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    color: hsl(180, 78%, 74%); /* Dark text for visibility */
}

button {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c0392b;
}

#Message {
    font-weight: bold;
    color: #3498db;
    margin-top: 10px;
    font-size: 1.5em;
}
# guess num css